<?xml version="1.0"?>
<launch>
  <include file="$(find px4_tutorial_pkg)/launch/internal/sim.launch">
    <arg name="paused" value="false"/>
  </include>
  <include file="$(find px4_tutorial_pkg)/launch/internal/bringup.launch">
    <arg name="x" value="1.0" />
    <arg name="y" value="0.0" />
    <arg name="Y" value="1.57" />
  </include>
</launch>